exemplo.env
.env
*.log
*.tmp
*.swp
*.bak
node_modules/
__pycache__/
target/
dist/
.DS_Store
Thumbs.db
.idea/
.vscode/
.sublime-workspace
.cache/
.temp/
./certs
./nginx/nginx-selfsigned.crt
./nginx/nginx-selfsigned.key